<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/Users/wangleigis163.com/Documents/alex/dev/code/private/system-architecture/flink/logs/kafka.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
    <logger name="org.apache.flink.runtime.jobgraph.JobGraph" level="DEBUG"/>
</configuration>
